In [7]:
oz_student = [
    {"name": "백현우", "python": 4, "database": 3, "Django": 3, "AWS": 2},
    {"name": "홍혜인", "python": 4, "database": 5, "Django": 2, "AWS": 4},
    {"name": "윤운성", "python": 3, "database": 4, "Django": 4, "AWS": 1},
    {"name": "홍수철", "python": 2, "database": 3, "Django": 1, "AWS": 5},
]

print("이름", "총점", "평균", sep="\t")

for student in oz_student:
    ablity_sum = student["python"] + student["database"] + student["Django"] + student["AWS"]
    ablity_average = ablity_sum / 4

    print(student["name"], ablity_sum, ablity_average, sep="\t")

이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤운성	12	3.0
홍수철	11	2.75

In [5]:
def create_oz_students(name, python, database, django, AWS):
    return{
        "name" : name,
        "python" : python,
        "database" : database,
        "Django" : django,
        "AWS" : AWS
    }

oz_student = [
    create_oz_students("백현우", 4, 3, 3, 2),
    create_oz_students("홍혜인", 4, 5, 2, 4),
    create_oz_students("윤은성", 3, 4, 4, 1),
    create_oz_students("홍수철", 2, 3, 1, 5),
]

print("이름", "총점", "평균", sep="\t")

for student in oz_student:
    ablity_sum = student["python"] + student["database"] + student["Django"] + student["AWS"]
    ablity_average = ablity_sum / 4

    print(student["name"], ablity_sum, ablity_average, sep="\t")

이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

In [10]:
def create_oz_students(name, python, database, django, AWS):
    return{
        "name" : name,
        "python" : python,
        "database" : database,
        "Django" : django,
        "AWS" : AWS
    }

def get_sum(student):
    return student["python"] + student["database"] + student["Django"] + student["AWS"]

def get_average(student):
    return get_sum / 4

def to_string(student):
    return f'{student["name"]}\t{get_sum(student)}\t{get_average(student)}'


oz_students = [
    create_oz_students("백현우", 4, 3, 3, 2),
    create_oz_students("홍혜인", 4, 5, 2, 4),
    create_oz_students("윤은성", 3, 4, 4, 1),
    create_oz_students("홍수철", 2, 3, 1, 5),
]

print("이름", "총점", "평군", sep="\t")

for student in oz_students:
    print(to_string(student))

이름	총점	평군

TypeError: unsupported operand type(s) for /: 'function' and 'int'

In [15]:
class COzStudereatent:
    def __init__(self, name, python, database, django, AWS):
        self.name = name
        self.python =python
        self.database = database
        self.django = django
        self.AWS = AWS

    def get_sum(self):
        return self.python + self.database + self.django + self.AWS
    
    def get_average(self):
        return self.get_sum() / 4
    
    def to_string(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'


oz_students = [
    COzStudereatent("백현우", 4, 3, 3, 2),
    COzStudereatent("홍혜인", 4, 5, 2, 4),
    COzStudereatent("윤은성", 3, 4, 4, 1),
    COzStudereatent("홍수철", 2, 3, 1, 5),
]

print("이름", "총점", "평균", sep="\t")
for student in oz_students:
    print(student.to_string())

이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

In [18]:
class Student:
    def __init__(self):
        pass


student = Student()

print("isinstance(student, Student):", isinstance(student, Student))

isinstance(student, Student): True

In [19]:
class Python:
    def python(self):
        print("파이썬을 수강중입니다.")

class Java:
    def java(self):
        print("자바를 수강중입니다")

programming_subjects = [Python(),Python(),Python(),Java(),Java(),Python()]

for subject in programming_subjects:
    if isinstance(subject, Python):
        subject.python()
    elif isinstance(subject, Java):
        subject.java()

파이썬을 수강중입니다.
파이썬을 수강중입니다.
파이썬을 수강중입니다.
자바를 수강중입니다
자바를 수강중입니다
파이썬을 수강중입니다.